
.header{
height:55px;
display: flex;
flex-direction: row;
justify-content: space-between;
position: fixed;
top:0;
left:0;
right:0;
background-color: white;
border-bottom-width: 1px;
border-bottom-style:solid ;
border-bottom-color: rgb(229, 226, 226);
z-index: 100;



}
.hamburger-menu{
  height:24px;
  margin-left: 24px;
  margin-right: 24px;
}
.youtube-logo{
  height:20px;
}
.left-section{

 
  display: flex;
  align-items: center;
}
.middle-section{
  margin-left:70px;
  margin-right:35px;
  flex:1;

  max-width: 500px;
  display: flex;
  align-items:center ;
}
.right-section{

  width:180px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}
.search-bar::placeholder{

  font-size: 16px;
  padding-left: 12px;
}
.search-bar{
  flex:1;
  height:36px;
  padding-left: 10px;
  font-size:16px;
  border:1px solid rgb(192,192,192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px
  rgb(0,0,0,0.05);
  width: 0;
}
.search-button{
  height:39px;
  width:60px;
  background-color: rgb(240,240,240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192,192,192);
  margin-left: -1px;
  margin-right: 10px;
  border-radius: 2px;

  
}
.notifications-container,
.youtube-apps-container,
.upload-icon-container,
.search-button,.voice-search-button{
  position: relative;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;

}



.notifications-container .tooltip,
.youtube-apps-container .tooltip,
.upload-icon-container .tooltip,
.voice-search-button .tooltip,
.search-button .tooltip{
  position: absolute;

  background-color: gray;
  color: white;
  padding-top:4px;
  padding-bottom:4px;
  padding-left:8px;
  padding-right:8px;
  border-radius: 2px;
  font-size: 12px;
  bottom:-30px;
  opacity:0;
  transition:opacity 0.15;
  pointer-events:none;

}
.notifications-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.upload-icon-container:hover .tooltip,
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip{
opacity:1;
}
.voice-search-button{
  height:39px;
  width:40px;
  border-radius: 20px;
  border: none;
}
.voice-search-icon{
  height:24px;
  margin-top: 4px;
  background-color:rgb(249, 246, 246) ;
}
.search-icon{
  height:25px;
 
}
.upload-icon{
  height:24px;
}
.notifications-icon{
  height:24px;

}
.notifications-icon-container{
  position:relative;
}
.notifications-count{
  position:absolute;
  background-color: red;
  color:white;
  top:-2px;
  right:-5px;

  font-size: 11px;
  padding-left:5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-top: 2px;
  border-radius:10px;
}
.youtube-app-icon{
  height:24px;
}
.current-user-picture{
  height:32px;
  border-radius: 16px;
}
